<link rel="stylesheet" href="/path/to/styles.css">
 {
    background-color: black;
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    padding: 1em;
    opacity: 0.5;
  }
  
  nav a:hover {
    background-color: rgba(0, 0, 0, 0.38);
  }
  
  footer {
    background-color: #333; 
    padding: 4px;
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity: 80%;
  }
  
